/*
	Please leave the content below alone for this week's tutorial
*/
*{
font-family: 'Ubuntu', sans-serif;
b
}
.about p
{

	padding-left: 8rem;
	padding-right:8rem;
}


body {
	/* background-color: #33333; */
	font-family: "Quan", Verdana, sans-serif;
	margin: 1rem;
	font-size: 1.25rem;
}

section#shop .box-item-text {

text-align: center;

}

.toplogo  img {
  height:8rem;
  width:auto;
	vertical-align: middle;
    align-items: center;
	border: 0px;

}

.about .box p{
 text-align: left;
	max-width: 70rem;

}


.toplogo .box .box-item-text h1 {
/* float: center; */

	margin-bottom: 0;

}

.toplogo .box .box-item-text h2 {
	font-size:1.5rem;

}
.Checkoutco{
	text-align: center;
	border-style:solid;
	  border-color:#ff0000;
}


code{
	font-size:0.75em;

}



hr{
border:0;
background-color:#2d80b9;

height:1px;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0;
}

h2 {
	font-size: 2.25rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-size: 1.6rem;
	margin-bottom: 0;
}


/* p, ol, ul {
	max-width: 40rem;
} */

img {
	height: auto;


}

figure {
	margin: 0;
}

figcaption {
	font-style: italic;
}

a {
	color: rgb(200,0,0);
	transition: color 0.5s;
	text-align: center;
	align-items: center;
}

a:active, a:hover, a:focus {
	color: rgb(50,0,0);
	text-decoration: none;
}

a:focus{

	color: rgb(100,0,20);
	text-decoration: none;
	background-color: #db1e12;
	transition: background-color 0.5s ease-out;
}



button {
		background-color: #db1e12;
		color: white;
	transition: color 0.5s;
	text-align: center;
	align-items: center;
}
button:active, button:hover, button:focus {
	color: rgb(50,0,0);
	text-decoration: none;
}

button:focus{
	color: rgb(100,0,20);
	text-decoration: none;
	background-color: #db1e12;
	transition: background-color 0.5s ease-out;

}


code, samp {
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
}

.nav-main-item {
	display: inline-block;
	color: white;
	background-color: #db1e12;
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	transition:background-Color 0.5s ease-out;

}

/* .bg1 {
	background-color: purple;
}

.bg2 {
	background-color: green;
}

.bg3 {
	background-color: blue;
} */

.nav-main-item:active, .nav-main-item:hover{
	color: white;
	background-color: rgb(50,50,50);
}

.nav-main-item:focus {
	color: black;
	background-color: rgb(100,50,50);
}

.img-link:hover{
background-color: rgb(200,100,100,0.1);

}

.img-link:focus{
background-color: rgb(122,30,50,0.5);

}

input label{

	text-align: center;
}

input:hover{
	border: 2px solid rgb(65,23,10);
}

input[type="text"]:focus{
	background-color: #ffe6e6;
}

.gamecart{
	text-align: center;

	align-items: center;

}
