
*, *::after, *::before {
	box-sizing: border-box;
}
* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 270px;
  text-align:left;
	background-image: linear-gradient(150deg, #0054a8 0%, #c2e9fb 100%);
  /* background: #0054a8; */
  color: white;

}

 .subheader {

   padding:40px;
   text-align:left;
   background: #0054a8;
   color: white;
}

/* Style the top navigation bar */
.navbar {
	background-color: rgba(0, 0, 0, 0.2);
	position:sticky;

	  width: 100%;
		/* overflow: hidden; */
	   padding: 1em;

  /* padding-right: 50px; */
	position: fixed;
  /* display: flex; */
	/* background-image: linear-gradient(120deg, #0054a8 0%, #c2e9fb 100%);
  /* background-color: #0054a8; */


  justify-content: flex-end;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 1s ease-out
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
	transition: background-color 1s ease-out
}

/* Column container */
.row {
  /* margin: 1rem; */
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid yellow; */
	text-align: left;

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;

  background-color: #5384b5;
  padding: 20px;
  flex-grow: 0;
}


/* Main column */
.main {
  flex:70%;

  background-color: white;
  padding: 20px;

}

.halfside {
  flex: 50%;
  flex: 1 1 300px;
  background-color: white;

}

.fullside {
  flex: 100%;
  background-color: white;
  padding: 20px;
  /* border: 1px solid red; */
}

.headerbox {

	  border-left: 5px solid #e91e63;
  flex: 100%;
  background-color: white;
  padding: 5px;
  /* border: 1px solid rgba(0, 150, 136, 0.51); */
}

.itembox{

  /* border: 1px solid red; */

	flex: 50%;
  background-color: white;
 padding: 20px;


}
.imgholder img{
	max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
}

.fullside img{
	max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
}


/* Fake image, just for this example */
.imgholder {


        margin: auto;
}

/* Footer */
.footer {
	font-size:2px;
  padding: 20px;
  text-align: center;
  background: #0054a8;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }

	.header {
	  padding-left: 20px;
		padding-right: 20px;


	}



}


hr{
border:0;
background-color:#2d80b9;
margin-left: 2em;
 margin-right: 2em;
height:1px;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
	width: 100%;
}

h3 {
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 0;

}

h4{

  font-size: 1rem;
	margin-bottom: 0;
}

p{
  font-size: 0.8rem;

}

a {
  color: red;

  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  background-color: #ddd;
  color: darkred;
	transition: background-color 1s ease-out
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
